* {
    box-sizing: border-box;
}

body {
    background-color: white;
    line-height: normal;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
}

.hero {
    background-image: url("./images/tortillas\ hero\ image.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: -900px -1000px;
}

#bio {
    display:flex;
    
}