* {
    box-sizing: border-box;
}

body {
    background-color: white;
    line-height: normal;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
}

.hero {
    background-image: url("./images/tortillas\ hero\ image.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: -900px -1000px;
}


/*  */
/* #bio { */
/* display: flex; */
/* justify-content: space-around; */
/* align-items: center; */

/* } */

#work {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about h2 {
    border-right: 1px dodgerblue;
    height: 100%;
}

/* .links {
    height:200px;
    width: 200px;
} */



aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: left;

    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

div a {
    background-image: url(/assets/images/icecreamspoon\ place\ holder.jpg);
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
}