* {
    box-sizing: border-box;
}

body {
    background-color: white;
    line-height: normal;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
}
/* This changes the color of the buttons when I hover over the nav bar */
nav :hover {
    color: blueviolet;
}
/* This adds banner image across the screen */
.hero {
    background-image: url("./images/tortillas\ hero\ image.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: -900px -1000px;
}

.section-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.section-box h2 {
    flex:0 0 30%;
    text-align: right;
    padding-right: 5px;

}

/* look at margin to seperate sections */
.section-box div {
    flex: 0 0 65%;

}

.links {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-box {
    border: 1px solid black;
    background-color: blueviolet;
    color: black;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    align-items: flex-end;
    flex-basis: calc(50% - 1em);


}

.work-box:first-child {
    min-height: 400px;
    flex-basis: 100%;

}

.surf {
    background-image: url("./images/icecreamspoon\ place\ holder.jpg");
    background-size: contain;
}

.surf1 {
    background-image: url("./images/SquareLogoforCrop.jpg");
    background-size: contain;
}

.work-box {
    padding: 10px;
}

.selfie {
background-image: url("./images/Brou\ avatar.JPG");
background-size: cover;
max-width: 350px;
background-repeat: no-repeat;
height: 400px;
}